data/
*.swp
target/
*.pyc
__pycache__/
.DS_Store
.python-version
.ztr-directory
previous_code/us/demo_app/node_modules
previous_code/us/node_modules
persist/
popgetter/cache/
popgetter.egg-info/
popgetter.egg-info/*
popgetter/assets/uk_venv/
node_modules/


.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
